<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Brixx HTML-Element &lt;<%= htmlWebpackPlugin.options.component %>&gt;</title>
    <!-- Include the Brixx Component script files-->
  </head>
  
  <body>
    <h1>Brixx HTML-Element &lt;<%= htmlWebpackPlugin.options.component %>&gt;</h1>
    <!-- Add the Brixx HTML-Element -->
    <<%= htmlWebpackPlugin.options.component %>></<%= htmlWebpackPlugin.options.component %>>
  </body>
</html>