<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>Brixx HTML element &lt;<%= htmlWebpackPlugin.options.component %>&gt;</title>
  </head>
  
  <body>
    <h1>Brixx HTML element &lt;<%= htmlWebpackPlugin.options.component %>&gt;</h1>
    <!-- Add the Brixx HTML element -->
    <<%= htmlWebpackPlugin.options.component %>></<%= htmlWebpackPlugin.options.component %>>
    <!-- Include the Brixx script component files -->
  </body>
</html>