body {
    margin: 10px;
}

.brixx-decision-button {
    padding: 0px 10px 5px;
    margin-top: 5px;
}

div.brixx-decision-field {
    color: #8ebf42;
    font-size: 14px;
    margin-top: 0px;
}

input.brixx-decision-field {
    margin-top: 2px;
}